*{
    font-family: roboto;
}

#navbar img{
    width: 100px;
}

h1{
    color: #fff;
}
body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.row{
    margin: 0;
}
.container-fluid{
    padding: 0;
}

#navbar img {
    max-width: 100%; 

}
#navbar{
    justify-content: space-between; /* Altera para space-between */
    background-color: #fff;
    padding: 5px 0;
}

.navbar a{
    font-size: 20px;
    color: #757575;
}
.navbar form button {
    font-size: 20px;
    color: #757575;
}

.navbar form button:hover {
    color:aqua;
}

.navbar a:hover{
    color:aqua;
}

#search-container {
    background-image: url("../img/event.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
  }
  
  #search-container h1 {
    color: aqua;
    margin-bottom: 30px;
    font-weight: 900;
  }
  
  #search-container form {
    width: 50%;
    margin: 0 auto;
  }
  

#events-container{
    padding: 50px;
}

#cards-container{
    display: flex;
}

#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
}

#events-container img{
    max-height: 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#events-container .btn-primary {

    background-color: aqua;
    border-color: aqua;
}

#events-container .btn-primary:hover{

    background-color: rgb(0, 206, 206);
    border-color: rgb(0, 206, 206);
}

.card .card-title{
    font-size:12px;
    color : #CCC;
}
.card .card-title{

    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participantes{
    font-size: 14px;
    color: #757575;

}

#event-create-container {
    padding: 30px;
    display: flex;
    flex-direction: column; /* Para alinhar os elementos verticalmente */
    align-items: center; /* Para alinhar os elementos horizontalmente */
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    max-width: 450px;
    font-size: 18px;
    margin-bottom: 15px; /* Adicione um espaçamento entre os elementos */
}

#event-create-container h1{

    color: aqua;
}

#event-create-container .btn-primary {

    background-color: aqua;
    border-color: aqua;
}
  

footer{
text-align: center;
background-color: #212121;
color: #fff;
padding: 30px;
position: absolute;
bottom: 0;
width: 100%;
}

footer p{
    margin-bottom: 0;
}

.msg{

    background-color: #d4edda;
    color: aqua;
    border: 1px solid #c3e6cb;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 10px;
}

#image-container,
#info-container {
  margin-top: 30px;
}

#image-container img {
  border-radius: 10px;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 14px;
  display: flex;
}

#info-container h3,
#description-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#info-container ion-icon {
  font-size: 20px;
  color: #40ecf2;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

#info-container .btn-primary {

    background-color: aqua; 
    border: aqua;
}

#info-container .btn-primary:hover{

    background-color: rgba(0, 255, 255, 0.685);
}

#items-list {
    list-style: none;
    padding-left: 0;
  }
  
  #items-list li {
    display: flex;
  }